body {
  color: rgba(221, 207, 185, 0.9);
}

.video_bg {
  position: relative;
  width: 100%;
  height: auto;
}

.calendly-inline-widget iframe {
  position: absolute;
  top: 0;
  left: 0;
}

@font-face {
  font-family: "Copperplate Bold";
  src: local("Copperplate Bold"),
    url("./fonts/CopperplateBold.ttf") format("truetype");
}

@font-face {
  font-family: "Copperplate Gothic Bold";
  src: local("Copperplate Gothic Bold"),
    url("./fonts/CopperplateGothicBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Book";
  src: local("Gotham Book"), url("./fonts/GothamBook.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Light";
  src: local("Gotham Light"), url("./fonts/GothamLight.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Bold";
  src: local("Gotham Bold"), url("./fonts/GothamBold.ttf") format("truetype");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
